@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
}

body {
    font-family:'Poppins';
    background-image: url("./imagens/background.jpg");
    background-position: center;
    background-size: cover;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;    
   
}

#cabecalho{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
    color: aliceblue;
    text-shadow: 2px 3px 3px #420742;

  
}

#formulario {
    background-color: rgba(7,31,91, 0.5);
    padding: 20px 50px;
    margin: 0px 180px 0 180px;
    border-radius: 5px;
    color:aliceblue;
    text-shadow: 2px 2px 3px #310731;
}

.form {
    margin: 20px;

}


input[type="text"], input[type="email"], input[type="number"], input[type="button"], select, option, textarea {

    width: 100%;
    height: 30px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    border: 1.5px solid #420742;
    box-shadow: 2px 1px 4px #c598e9;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="button"]:focus, select:focus, textarea:focus {
    outline: none;
    border: 2px solid;
}

input::placeholder, optgroup, option{
    padding: 12px;
   

}

textarea {
    display: inline-block;
    font-family: 'Poppins';
    padding: 12px;
    resize: none;
    box-sizing: border-box;
    height: 80px;
  
}

.botao {
    text-align: center;
    
 
}

button{
    border: none;
    border-radius: 8px;
    padding: 15px 0; 
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Poppins';
    color: aliceblue;
    font-weight: bold;
    background-color: #190740;
    box-sizing: border-box;
    width: 95%;
 
    
   
}

button:hover{
    background-color: #290872;

}


@media screen and (max-width: 820px) {
 
#cabecalho {
    font-size: smaller;
 }

#formulario {
    background-color: rgba(7,31,91, 0.5);
    padding: 10px 10px;
    margin: 0px 30px;
    font-size: 1em;
    text-shadow: 2px 2px 3px #310731;
  }
}